@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Jost";
  }

  @font-face {
    font-family: 'AMS';
    font-style: normal;
    font-weight: 700;
    src: url(assets/fonts/AMS.ttf) format('ttf');
  }
}

@layer components {
  body {
    overflow: hidden;
  }

  .bgHome {
    background-image: url("./assets/images/home/bg-home-2.png");
    background-repeat: no-repeat;
  }

  .page1 {
    background-image: url("./assets/images/Page1/BG.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page3 {
    background-image: url("./assets/images/Page2/Sun_1.gif");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page4 {
    background-image: url("./assets/images/pages/page3BG.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page5 {
    background-image: url("./assets/images/Page5/Page5BG.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .quizBG {
    background-image: url("./assets/images/home/bg-home-2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .kenburns-bottom {
    -webkit-animation: kenburns-bottom 5s ease-out both;
            animation: kenburns-bottom 5s ease-out both;
  }

  @media screen and (min-width: 1024px) {
    body {
      overflow: hidden;
    }

    .page1 {
      background-image: url("./assets/images/Page1/BG.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .page3 {
      background-image: url("./assets/images/Page2/Sun_1.gif");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .page4 {
      background-image: url("./assets/images/pages/page3BG.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .page5 {
      background-image: url("./assets/images/Page5/Page5BG.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @-webkit-keyframes kenburns-bottom {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 84%;
              transform-origin: 50% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(15px);
              transform: scale(1.25) translateY(15px);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
    }
  }
  @keyframes kenburns-bottom {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 84%;
              transform-origin: 50% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(15px);
              transform: scale(1.25) translateY(15px);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
    }
  }

}
