@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Jost";
  }
}

@layer components {
  body {
    overflow: hidden;
  }

  .bgHome {
    background-image: url("./assets/images/home/bg-home-2.png");
    background-repeat: no-repeat;
  }

  .page1 {
    background-image: url("./assets/images/Page1/BG.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page3 {
    background-image: url("./assets/images/Page2/Sun_2-1.gif");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page4 {
    background-image: url("./assets/images/pages/page3BG.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-width: 1024px) {
    body {
      overflow: hidden;
    }

    .page1 {
      background-image: url("./assets/images/Page1/BG.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .page3 {
      background-image: url("./assets/images/Page2/Sun_2-1.gif");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .page4 {
      background-image: url("./assets/images/pages/page3BG.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
